{% extends "base/base.html" %}

{% block title %}INDEX VIEW{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<center><h1>Bienvenido: {{request.user}} </h1></center>
<hr>
<center><h3>Goal List</h3></center>
<br>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>TIMESTAMP</th>
        <th>SUBGRANTGOAL</th>
        <th>AREA</th>
        <th>USER</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.id }}</td>
                <td>{{ goal.goalname }}</td>
                <td>{{ goal.description }}</td>
                <td>{{ goal.timestamp }}</td>
                <td>{{ goal.subgrantgoal }}</td>
                <td>{{ goal.area }}</td>
                <td>{{ goal.user }}</td>
                <td><a href="{% url 'core:detail_goal' goal.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_goal' goal.pk %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_goal' goal.pk %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<hr>
<br>

    <center><h3>GrantGoal List</h3></center>
<br>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>USER</th>
        <th>TIMESTAMP</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for gg in grantgoals %}
            <tr>
                <td>{{ gg.id }}</td>
                <td>{{ gg.ggname }}</td>
                <td>{{ gg.user }}</td>
                <td>{{ gg.timestamp }}</td>
                <td><a href="{% url 'core:detail_gg' gg.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_gg' gg.pk %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_gg' gg.pk %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<hr>
<br>
<!-- SubGrantGoal List -->
<center><h3>SubGrantGoal List</h3></center>
<br>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>GRANTGOAL</th>
        <th>USER</th>
        <th>TIMESTAMP</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for sgg in subgrantgoals %}
            <tr>
                <td>{{ sgg.id }}</td>
                <td>{{ sgg.sggname }}</td>
                <td>{{ sgg.grantgoal }}</td>
                <td>{{ sgg.user }}</td>
                <td>{{ sgg.timestamp }}</td>
                <td><a href="{% url 'core:detail_sgg' sgg.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_sgg' sgg.pk %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_sgg' sgg.pk %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<hr>
<br>
<!-- Area List -->
<center><h3>Area List</h3></center>
<!-- <br> -->
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
     
    </thead>
    <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.area_name }}</td>
                <td>{{ area.description }}</td>
                <td><a href="{% url 'core:detail_area' area.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_area' area.pk %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_area' area.pk %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<hr>
<br>
<!-- Issue List -->
<center><h3>Issue List</h3></center>
<br>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>ISSUE</th>
        <th>USER</th>
        <th>GOAL</th>
        <th>AREA</th>
        <th>TIMESTAMP</th>
        <th>PRIORITY</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.issuename }}</td>
                <td>{{ issue.user }}</td>
                <td>{{ issue.goal }}</td>
                <td>{{ issue.area }}</td>
                <td>{{ issue.timestamp }}</td>
                <td> {{ issue.priority }}</td>
                <td><a href="{% url 'core:detail_issue' issue.pk %}" class="btn btn-outline-info">Detail</a></td>
                <td><a href="{% url 'core:update_issue' issue.pk %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'core:delete_issue' issue.pk %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>


{% else %}
<!-- <hr> -->
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary form-control">Login</button>
            <br>
            
            <a href="{% url 'home:index' %}" class="btn btn-secondary form-control">Cancel</a>
    </form>
    <hr>
    Si no tienes una cuenta,<a href="{% url  'home:signup' %}"> registrate aqui!</a>
{% endif %}


{% endblock content %}







