{% extends "base/base.html" %}


{% block title %}NEW USER VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary form-control">Signup</button>
            <br>
            <br>
            <a href="{% url 'home:index' %}" class="btn btn-secondary form-control">Cancel</a>
    </form>
{% endblock content %}