{% extends "base/base.html" %}

{% block title %}NEW GOAL VIEW{% endblock title %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button style="margin: 2%;" type="submit" class="btn btn-outline-success form-control">New Goal</button>
    <br>
    <a href="{% url 'core:list_goal' %}" class="btn btn-outline-warning form-control">Cancel</a>
</form>
{% endblock content %}
