{% extends "base/base.html" %}

{% block title %}DELETE SUBGRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>¿Realmente deseas eliminar el SubGrantGoal: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-outline-danger">Delete SubGrantGoal</button>
            <a href="{% url 'core:list_sgg' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}