{% extends "base/base.html" %}

{% block title %}DELETE ISSUE VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>Are you sure you want to delete the Issue: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-outline-danger">Delete Issue</button>
            <a href="{% url 'core:list_issue' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
