{% extends "base/base.html" %}

{% block title %}DELETE AREA VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h3>Are you sure you want to delete the Area: "{{ object }}"?</h3>
            
            <button type="submit" class="btn btn-outline-danger">Delete Area</button>
            <a href="{% url 'core:list_area' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}
