{% extends "base/base.html" %}

{% block title %}DELETE GOAL VIEW{% endblock title %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h3>¿Realmente deseas eliminar el Goal: "{{ object }}"?</h3>
    <button type="submit" class="btn btn-outline-danger">Delete Goal</button>
    <a href="{% url 'core:list_goal' %}" class="btn btn-outline-warning">Cancel</a>
</form>
{% endblock content %}
