{% extends "base/base.html" %}

{% block title %}DETAIL ISSUE VIEW{% endblock title %}

{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Issue Details
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><strong>ID:</strong> {{ issue.id }}</p>
                    <p><strong>Issue:</strong> {{ issue.issuename }}</p>
                    <p><strong>User:</strong> {{ issue.user }}</p>
                    <p><strong>Goal:</strong> {{ issue.goal }}</p>
                    <p><strong>Area:</strong> {{ issue.area }}</p>
                    <p><strong>Timestamp:</strong> {{ issue.timestamp }}</p>
                    <p><strong>Priority:</strong> {{ issue.priority }}</p>
                    <p><strong>Days Duration:</strong> {{ issue.days_duration }}</p>
                    <p><strong>Progress:</strong> {{ issue.progress }}</p>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'core:list_issue' %}" class="btn btn-outline-secondary mt-3">Return</a>
{% endblock content %}
