{% extends "base/base.html" %}

{% block title %}DETAIL GOAL VIEW{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                General Data
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                This is the goal name: <strong>{{ goal.goalname }}</strong>. It is the description: {{ goal.description }}, and its progress is: <code>{{ goal.progress }} %</code>.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Date Data
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                This is the goal timestamp: <strong>{{ goal.timestamp }}</strong>. It is the days duration to the goal: {{ goal.days_duration }}, and its final date is: <code>{{ goal.final_date }}</code>.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Status Data
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                This is the goal state: <strong>{{ goal.state }}</strong>, the goal status: {{ goal.status }}, and the goal priority: <code>{{ goal.priority }}</code>.
            </div>
        </div>
    </div>
</div>
<a href="{% url 'core:list_goal' %}" class="btn btn-outline-secondary mt-3">Return</a>
{% endblock content %}
