{% extends "base/base.html" %}

{% block title %}LIST AREA VIEW{% endblock title %}

{% block content %}
    <center><h3>Area List</h3></center>
    <br>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
         
        </thead>
        <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.id }}</td>
                    <td>{{ area.area_name }}</td>
                    <td>{{ area.description }}</td>
                    <td><a href="{% url 'core:detail_area' area.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_area' area.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_area' area.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'core:create_area' %}" class="btn btn-outline-success form-control">New Area</a>
{% endblock content %}
