{% extends "base/base.html" %}

{% block title %}LIST ISSUE VIEW{% endblock title %}

{% block content %}
    <center><h3>Issue List</h3></center>
    <br>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>ISSUE</th>
            <th>USER</th>
            <th>GOAL</th>
            <th>AREA</th>
            <th>TIMESTAMP</th>
            <th>PRIORITY</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for issue in issues %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.issuename }}</td>
                    <td>{{ issue.user }}</td>
                    <td>{{ issue.grantgoal }}</td>
                    <td>{{ issue.area }}</td>
                    <td>{{ issue.timestamp }}</td>
                    <td> {{ issue.priority }}</td>
                    <td><a href="{% url 'core:detail_issue' issue.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_issue' issue.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_issue' issue.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'core:create_issue' %}" class="btn btn-outline-success form-control">New Issue</a>
{% endblock content %}
