{% extends "base/base.html" %}

{% block title %}LIST SUB GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <center><h3>SubGrantGoal List</h3></center>
    <br>
    
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>GRANTGOAL</th>
            <th>USER</th>
            <th>TIMESTAMP</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for sgg in object_list %}
                <tr>
                    <td>{{ sgg.id }}</td>
                    <td>{{ sgg.sggname }}</td>
                    <td>{{ sgg.grantgoal }}</td>
                    <td>{{ sgg.user }}</td>
                    <td>{{ sgg.timestamp }}</td>
                    <td><a href="{% url 'core:detail_sgg' sgg.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_sgg' sgg.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_sgg' sgg.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'core:create_sgg' %}" class="btn btn-outline-success form-control">New Sub Grant Goal</a>
{% endblock content %}
    