{% extends "base/base.html" %}

{% block title %}LIST GOAL VIEW{% endblock title %}

{% block content %}
    <center><h3>Goal List</h3></center>
    <br>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>TIMESTAMP</th>
            <th>SUBGRANTGOAL</th>
            <th>AREA</th>
            <th>USER</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for goal in goals %}
                <tr>
                    <td>{{ goal.id }}</td>
                    <td>{{ goal.goalname }}</td>
                    <td>{{ goal.description }}</td>
                    <td>{{ goal.timestamp }}</td>
                    <td>{{ goal.subgrantgoal }}</td>
                    <td>{{ goal.area }}</td>
                    <td>{{ goal.user }}</td>
                    <td><a href="{% url 'core:detail_goal' goal.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_goal' goal.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_goal' goal.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'core:create_goal' %}" class="btn btn-outline-success form-control">New Goal</a>
{% endblock content %}
