{% extends "base/base.html" %}

{% block title %}UPDATE AREA VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button style="margin: 2%;" type="submit" class="btn btn-outline-primary form-control">Update Area</button>
            <br>
            <a href="{% url 'core:list_area' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}
